{% extends 'base.html' %}
{% block title_block %}Login{% endblock %}

{% block main_block %}
<div class="container">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>New User?<a href="{{ url_for('register') }}">Register here</a></p>
</div>
{% endblock %}